/*
Auteur:         Rob Wessels   
Aanmaakdatum:   nov 2020

Onderwerp:      Opdracht 3.2 result

*/

* 
{
    box-sizing: border-box;
}

main:after 
{
    content: "";
    clear: both;
    display: table;
}

body 
{
    font-family: "Lucida Sans", sans-serif;
    background-color: #cce6ff;
    margin: 0px;
}

header 
{
    background-color: #4d004d;
    color: #ffffff;
    padding: 15px;
}

nav ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li 
{
    padding: 8px;
    margin-bottom: 10px;
    background-color: #cc7a00;
    color: #ffffff;    
    font-size: 85%;    
}

nav li:hover 
{
    background-color: #0099cc;
}

aside 
{
    background-color: #cc7a00;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
}

a
{
    text-decoration: none;
    color: #ffffff;
}

aside a:hover
{
    text-decoration: underline;
    color: yellow;
}

footer 
{
    background-color: #4d004d;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

#godfather, #carlitosway, #scarface, #donniebrasco
{
    width: 40%;
    float: left;
    padding-right: 15px;
}

#copyright
{
    font-size: 70%;
}

/* Voor mobiele telefoons */
nav, article, aside
{
    width: 100%;
    float: left;
    padding: 15px;
}


@media only screen and (min-width: 600px) 
{
    /* Voor tablets */ 
    nav
    {
        width: 25%;
    }
    
    article
    {
        width: 75%;
    }
    
    aside
    {
        width: 100%;
    }    
}

@media only screen and (min-width: 900px) 
{
    /* Voor laptops of desktop: */ 
    nav
    {
        width: 25%;
    }
    
    article
    {
        width: 50%;
    }
    
    aside
    {
        width: 25%;
    }    
}

/* css specific for scarface.htm*/
#parscarface
{
    font-family: monospace;
    font-size: 16px;
}

/* css specific for godfather.htm*/
/*
#pargodfather
{
    background-color: yellow;
}
*/






