/** User: sid van eijndhoven*/
/** Date: 20-2-2024*/
/** File: style.css*/
html,

body
{
    display: block;
    margin: 0px;
}

/*font face die je gemakkelijk kan oproepen*/
@font-face
{
    font-family: montserrat;
    src: url("../Font/Montserrat-VariableFont_wght.ttf");
}

@font-face
{
    font-family: lato, sans-serif;
    src: url("../Font/Lato-Regular.ttf");
}

main
{
    font-family: sans-serif;
}
#logo
{
    display: block;
    margin: auto;
    text-align: center;
    width: 200px;
    height: 73px;
    padding-top: 5%;
}

ul
{
    list-style-type: none;
    text-align: center;
    border-top: 1px solid black;
    padding-top: 10px;
    padding-bottom: 0px;
}

#onder
{
    border-bottom: 1px solid black;
}

li
{
    display: inline;
    width: 50%;
    font-size: 12px;
    padding: 14px 16px;
}

/*als je met je muis erover gaat komt er een lijntje onder*/
a:hover
{
    border-bottom: 2px solid black;
}

a
{
    font-family: lato, sans-serif;
    color: black;
    text-decoration: none;
    font-weight: 540;
}

#smile
{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    background-color: #808080;

}

#inschrijven
{
    width: 120px;
    height: 40px;
    position: absolute;
    top: 500px;
    left: 500px;
    border: 3px solid black;
    font-size: 14px;
    font-family: roboto sans-serif;
}

#afspraak
{
    width: 160px;
    height: 40px;
    position: absolute;
    top: 500px;
    left: 700px;
    border: 3px solid black;
    color: #ffffff;
    background: #000000;
    font-size: 14px;
    font-family: roboto sans-serif;
}

#tandarts
{
    position: absolute;
    top: 250px;
    left: 30%;
    color: #ffffff;
    font-size: 43px;
    font-family: montserrat;
    font-weight: 650;
}

h2
{
    font-size: 21px;
    position: absolute;
    top: 370px;
    left: 255px;
    color: #ffffff;
    font-family: montserrat;
    font-weight: 300;
}

h3
{
    font-size: 19px;
    position: absolute;
    top: 430px;
    left: 37%;
    color: #ffffff;
    font-family: montserrat;
    font-weight: 300;
}

@media screen and (max-width: 599px)
{
    body
    {
        margin: 0;
    }
    #logo
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        text-align: center;
        width: 200px;
        height: 73px;
        padding-top: 5%;
    }

    ul
    {
        list-style-type: none;
        text-align: center;
        border-top: 1px solid #000000;
        padding-top: 10px;
        padding-bottom: 0px;
    }

    #onder
    {
        border-bottom: 1px solid #000000;
    }

    li
    {
        display: block;
        margin-left: auto;
        margin-right: 25%;
        width: 50%;
        font-size: 12px;
        padding: 14px 16px;

    }

    a:hover
    {
        border-bottom: 2px solid #000000;
    }

    a
    {
        font-family: lato, sans-serif;
        color: #000000;
        text-decoration: none;
        font-weight: 540;
    }

    #smile
    {
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
        background-color: #808080;
    }

    #inschrijven
    {
        width: auto;
        height: 40px;
        position: absolute;
        top: 620px;
        left: 5%;
        border: 1px solid #000000;
        font-size: 14px;
    }

    #afspraak
    {
        width: auto;
        height: 40px;
        position: absolute;
        top: 620px;
        left: 60%;
        border: 1px solid #000000;
        color: #ffffff;
        background: #000000;
        font-size: 10px;
    }

    #tandarts
    {
        position: absolute;
        top: 460px;
        left: 30%;
        width: 80%;
        color: #ffffff;
        font-size: 14px;
        font-family: montserrat;
        font-weight: 650;
    }

    h2
    {
        font-size: 14px;
        position: absolute;
        width: 75%;
        height: auto;
        top: 500px;
        left: 10%;
        color: #808080;
        font-family: montserrat;
        font-weight: 400;
    }

    h3
    {
        font-size: 14px;
        position: absolute;
        width: 100%;
        top: 560px;
        left: 10%;
        color: #ffffff;
        font-family: montserrat;
        font-weight: 400;
        color: #808080;

    }


}















