/*User: Sid van Eijndhoven, Justin van Ravenstein en Harris van Weert*/
/*Date: 19-3-2024*/
/*File: Stylesheet.css*/

/* geeft een margin aan de body*/
body
{
    margin: 0;
}

/*geeft positie. een margin en breedte aan de logo*/
#logo
{
    position: relative;
    width: 100px;
    height: 14%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

/* zorgt ervoor dat text in midden komt te staan. */
ul
{
    list-style-type: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
}

/* li geeft fonts. lettertype en breedte*/
li
{
    font-family: -apple-system;
    display: inline;
    width: 100%;
    font-size: 24px;
    padding: 14px 16px;
}

/* zorgt ervoor dat van navagatie verandert als je er over heen gaat*/
nav a:hover
{
    border-bottom: 1px solid #053C5E;
    color: #c48410;
}

/* geeft kleur */
a
{
    color: black;
    text-decoration: none;
    font-weight: 540;
    transition: .3s;
}

/* geeft border line aan de navagitie*/
nav
{
    border-bottom: 1px solid #053C5E;
}

/* zet text in form in het midden. geeft het een fonts*/
form
{
    text-align: center;
    font-size: 18px;
    font-family: Calibri;
}

/* geeft fonts, en zorgt er voor dat tekst in het midden zit*/
#welkom
{
    text-align: center;
    font-family: Calibri;
    font-size: 23px;
}

/* geeft lettertype, een border, achtergronds kleur, schadeduw er achter  */
.knop
{
    font-family: Calibri;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
    color: white;
    box-shadow: 2px 2px 2px #f3d413;
    margin-bottom: 20px;
}

/* geeft lettertyper, kleur en fonts*/
#tevreden
{
    font-size: 18px;
    font-family: Calibri;
    color: white;
}

/*box shadow is voor de schaduw onder de border */
#reset
{
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
    box-shadow: 2px 2px 2px #f3d413;
    margin-bottom: 20px;
}

/*alle vragen met dezelfde opmaak*/
#div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8, #div9, #div10, #div11, #div12
{
    margin: auto;
    width: 50%;
    border: 1px solid #000000;
    padding: 10px;
    background-color: #053C5E;
    color: #000000;
    box-shadow: 4px 4px 4px #f3d413;
    border-radius: 20px;
    font-size: 20px;
    font-family: Calibri;
    margin-top: 40px;
}

/* geeft width en een achtergrond kleur bij footer*/
footer
{
    width: 100%;
    height: 30px;
    background-color: #053C5E;
}

/* geeft fonts kleur en margin*/
h2
{
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    font-family: -apple-system;
    letter-spacing: 3px;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;
}
h2 span
{
    transition: .5s linear
}
/* geeft margin*/
h2:hover span:nth-child(1)
{
    margin-right: 5px
}
h2:hover span:nth-child(1):after
{
    content: "";
}
/* geeft margin*/
h2:hover span:nth-child(2)
{
    margin-left: 10px
}

/* zorgt dat de kleur verandert*/
h2:hover span
{
    color: #c48410;
    text-shadow: 0 0 10px #c48410,
    0 0 20px #c48410,
    0 0 40px #c48410;
}

/* geeft achtergrond kleur aan footer en zet tekst in midden, en fonts*/
#voeter
{
    text-align: center;
    background-color: #053C5E;
    margin: 0;
    font-family: -apple-system;
    font-size: 18px;
}

/* geeft hoogte en witdh aan hamburger menu*/
.hamburger, #menu
{
    display: inline;
    height: auto;
    width: 100%;
}

/* geeft fonts, achtegrond kleur, margin aan de koptekst*/
#koptekst
{
    color: black;
    font-size: 18px;
    font-family: Calibri;
    text-align: center;
    background-color: #a9a9a9;
    width: 25%;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 0;
    box-shadow: 2px 2px 2px #f3d413;
}


/*als de breedte van het scherm hoger is lager is dan 599px dan wordt deze code uitgevoerd*/
@media screen and (max-width: 599px)
{
    #div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8, #div9, #div10, #div11, #div12
    {
        font-size: 20px;
    }

    /* geeft overflow en positie*/
    .hamburger
    {
        overflow: hidden;
        position: relative;
        background-color: #F2F2F2;
        width: 100vw;
    }

    /* geeft display none*/
    .hamburger #menu
    {
        display: none;

    }

    /* geeft padding, fonts, kleur aan linkjes in de hamburger menu*/
    .hamburger a
    {
        background-color: #F2F2F2;
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
        display: block;
        text-align: center;
        margin-right: 15%;
        font-family: Calibri;
        border-radius: 20px;
    }

    /*geeft een positei en achtergronds foto*/
    .hamburger a.icon
    {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background-image: url("../Images/hamburger.jpg");
        background-position: center;
        background-size: 50px;
    }

    /* zorgt er voor achtergrond kleur veranders als je erover heen gaat.*/
    .hamburger a:hover
    {
        background-color: #ecd92d;
        color: black
    }

    /* geeft fonts en achtergronds kleur*/
    #active
    {
        background-color: #f2f2f2;
        color: #000000;
        font-family: Calibri;
        font-size: 20px;
        border-radius: 20px;
    }

    /* geeft breedte*/
    #koptekst
    {
        width: 75%;
    }
}