/** User: sid van eijndhoven*/
/** Date: 20-2-2024*/
/** File: vragenlijst.css */
html,

body {
    display: block;
    margin: 0px;
}

/*font die je gemakkelijk kan oproepen*/
@font-face
{
    font-family: montserrat;
    src: url("../Font/Montserrat-VariableFont_wght.ttf");
}

@font-face
{
    font-family: lato, sans-serif;
    src: url("../Font/Lato-Regular.ttf");
}

main
{
    font-family: sans-serif;

}
#logo
{
    display: block;
    margin: auto;
    text-align: center;
    width: 200px;
    height: 73px;
    padding-top: 5%;
}

ul
{
    list-style-type: none;
    text-align: center;
    border-top: 1px solid #000000;
    padding-top: 10px;
    padding-bottom: 0px;
}

#onder
{
    border-bottom: 1px solid #000000;
}

li
{
    display: inline;
    width: 50%;
    font-size: 12px;
    padding: 14px 16px;
}

a:hover
{
    border-bottom: 2px solid #000000;
}

a
{
    font-family: lato, sans-serif;
    color: #000000;
    text-decoration: none;
    font-weight: 540;
}

form {
    text-align: center;
    font-family: montserrat;
    font-weight: 300;
}

/*h1 met font family monteserrat net zoals de normale website met font weight 500 zodat de letters leesbaar zijn en niet de dik*/
h1
{
    text-align: center;
    border: 2px solid #000000;
    border-radius: 10px;
    width: 20%;
    display: block;
    margin: auto;
    font-family: montserrat;
    font-weight: 500;
}

/*maten en animatie voor de button*/
.bn54 {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 45px;
    width: auto;
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.6);
    left: 43%;
    margin-bottom: 5%;
}

.bn54 .bn54span {
    font-family: sans-serif;
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.7px;
}

.bn54:hover {
    animation: bn54rotate 0.7s ease-in-out both;
}

.bn54:hover .bn54span {
    animation: bn54storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes bn54rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes bn54storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}

@media screen and (max-width: 599px) {
    body {
        margin: 0;
    }

    #logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        text-align: center;
        width: 200px;
        height: 73px;
        padding-top: 5%;
    }

    ul {
        list-style-type: none;
        text-align: center;
        border-top: 1px solid black;
        padding-top: 10px;
        padding-bottom: 0px;
    }

    #onder {
        border-bottom: 1px solid #000000;
    }

    li {
        display: block;
        margin-left: auto;
        margin-right: 25%;
        width: 50%;
        font-size: 12px;
        padding: 14px 16px;

    }

    a:hover {
        border-bottom: 2px solid #000000;
    }

    a {
        font-family: lato, sans-serif;
        color: #000000;
        text-decoration: none;
        font-weight: 540;
    }

    h1
    {
        text-align: center;
        border: 2px solid #000000;
        border-radius: 10px;
        width: 60%;
        display: block;
        margin: auto;
    }

    form
    {
        text-align: center;
        font-size: 14px;
    }

    .bn54 {
        position: relative;
        outline: none;
        text-decoration: none;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        text-transform: uppercase;
        height: 45px;
        width: auto;
        opacity: 1;
        background-color: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.6);
        left: 20%;
        margin-bottom: 5%;
    }
}