
/* User: Sid van eijndhoven*/
/* Date: 28-2-2024*/
/*File: T3_REA_Oefening 4.2.php*/
html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

header
{
    background-color: blue;
    text-align: center;
    height: 15%;
    padding-top: 15px;
    position: relative;
}
main
{
    height: 80%;
    box-sizing: border-box;
}

main nav
{
    background-color: sandybrown;
    width: 25%;
    float: left;
    height: 85%;
    box-sizing: content-box;
    padding: 25px;
}

main section
{
    background-color: red;
    height: 85%;
    float: right;
    width: 75%;
    box-sizing: border-box;
    padding: 25px;
}

#uitwerking
{
    background-color: #0099cc;
}

div
{
    text-align: center;
}

